@font-face {
	font-family: 'Nunito Regular';
	src: url('../../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'Nunito Bold';
	src: url('../../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: 900;
  	font-style: normal;
}

h1 {
	font-family: "Nunito Bold";
	color: rgb(47,77,82);
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	font-size: 96px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 400px;
	text-align: center;
}

h2 {
	font-family: "Nunito Regular";
	color: rgb(47,77,82);
	margin-left: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	font-size: 64px;
}

/* .message {
	background: rgba(0, 38, 255, 0.39);
	font-size: 20px;
	font-family: "Lucida Console", "Courier New", monospace;
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(2, 56, 235);
	padding: 10px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 350px;
	margin-right: 350px
} */


body {
	margin: 10px;
	padding: 0;
	background-color: rgb(255, 247, 114);
	overflow: hidden;
  }

  .form-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

  .new-button{
	background-color: rgb(47,77,82);
	border: none;
	padding-top: 1px;
	padding-left: 18px;
	padding-right: 18px;
	color: rgb(255, 247, 114);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 48px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	margin-right: 53px;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .new-button:hover{
	color:  rgb(47,77,82);
	background-color: white;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }


  .edit-button{
	background-color: rgb(92, 214, 194);
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(47,77,82);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 47px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .edit-button:hover{
	color:  rgb(47,77,82);
	background-color: rgb(255, 247, 114);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }

  .delete-button{
	background-color: rgb(92, 214, 194);
	border: none;
	padding-left: 18px;
	padding-right: 18px;
	color: rgb(47,77,82);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 48px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	margin-left: 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .delete-button:hover{
	color:  white;
	background-color: rgb(240, 86, 72);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }

  
  .bar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(92, 214, 194);
	border-radius: 30px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
	z-index: 2; /* Updated z-index value */
  }

  .bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }

.search-bar{
	font-family: "Nunito Regular";
	margin-left:290px;
	margin-right: 17px;
	border: none;
	font-size: 30px;
	border-radius: 30px;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 8px;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.search-bar::placeholder{
	color: rgb(203, 210, 212); 
}


.form-add-new-contact {
	width: 300px;
	margin: 0 auto;
}


.container {
	top: 284px;
	left: 0;
	width: 100%;
	z-index: 999;
	overflow-y: auto;
	background-color: transparent;
  }
  
  .content {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 0;
  	}
  
  .dimmed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
  }

  .contacts-scrollbar {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	z-index: 1;
  }

  .contacts-list {
	list-style-type: none;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	width: 1170px;
	background-color: rgb(47,77,82);
	/* border-radius: 30px; */
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
	position: relative; /* Added position */
  	z-index: 2; /* Added z-index value */
	height: 65vh; /* Adjust the value as per your requirements */
	overflow-y: scroll;
	scrollbar-width: thin; /* Set the width of the scrollbar */
  }

  
.contacts-list::-webkit-scrollbar {
	width: 25px; /* Set the width of the scrollbar */
	margin-top: 200px;
}

.contacts-list::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.7); /* Set the color of the scrollbar thumb */
	border-radius: 30px; /* Set the border radius of the scrollbar thumb */
}

.contacts-list::-webkit-scrollbar-track {
	background-color: rgb(92, 214, 194); /* Set the background color of the scrollbar track */
	margin-top: 5px;
	margin-bottom: 30px;
	border-radius: 30px;
}
  
  /* .contact-item {
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-gap: 10px;
	align-items: center;
  } */
  
  .contact-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-family: "Nunito Regular";
	color: white;
	font-size: 40px;
	background-color: rgb(47, 77, 82);
	border-color: rgb(92, 214, 194);
	border-style: solid;
	border-radius: 30px;
	border-width: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
  }
  
  .contact-item .button-group {
	display: flex;
	align-items: center;
  }

  /* .contact-item .number {
	display: flex;
	flex-direction: column; 
	align-items: flex-end; 
  } */
  
  /* .contacts-list li:hover {
	background-color: lightgray;
	color: rgb(47, 77, 82);
  }
   */