@font-face {
	font-family: 'Nunito Regular';
	src: url('../../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'Nunito Bold';
	src: url('../../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
	font-weight: 900;
  	font-style: normal;
}

h1 {
	font-family: "Nunito Bold";
	color: rgb(47,77,82);
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
	font-size: 78px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 386px;
	text-align: center;
}

h2 {
	font-family: "Nunito Regular";
	color: rgb(47,77,82);
	margin-left: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	font-size: 51px;
}

.message {
    font-family: "Nunito Bold";
    color: rgb(47, 77, 82);
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(47, 77, 82);
    font-size: 35px;
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: center;
	text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    z-index: 998;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
}

.message-content {
    margin-bottom: 0px; /* Add margin between message and button */
}

.ok-button {
    color: rgb(255, 247, 114);
	background-color: rgb(47, 77, 82);
	height: 42px;
	width: 120px;
	margin: 5px;
	border-radius: 30px;
	border: none;
	font-family: "Nunito Regular";
	font-size: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.ok-button:hover {
	color: rgb(47, 77, 82);
    background-color: rgb(255, 247, 114);
	border-style: solid; 
	border-color: rgb(47, 77, 82);
}


body {
	margin: 10px;
	padding: 0;
	background-color: rgb(255, 247, 114);
	overflow: hidden;
  }

  .form-container {
	display: flex;
  	justify-content: center;
  	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	z-index: 999;
	border-style: solid;
    border-width: 4px;
    border-color: rgb(47, 77, 82);
}

.form-add-new-contact {
	width: 300px;
	min-height: 340px;
	margin: 0 auto;
	color: rgb(47, 77, 82);
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	text-align: center;
	font-family: "Nunito Regular";
	padding: 10px;
	
}



  .form-heading {
	align-self: center;
	font-family: "Nunito Bold";
	font-size: 35px;
	margin-bottom: 15px;
  }

  .form-field-container {
    position: relative;
    margin-bottom: 20px; /* Add some space between field and message */
}
  
  .form-field label {
	position: relative;
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
	text-align: left;
  }
  
  .form-field input {
	width: 230px;
	max-width: 300px; /* Adjust the max-width value as needed */
	padding: 8px;
	border-radius: 30px;
	border: 1px solid rgb(47, 77, 82);
	outline-color: rgb(47, 77, 82);
	font-size: 18px;
	font-family: "Nunito Regular";
	color: rgb(47, 77, 82);
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
	caret-color: rgb(47, 77, 82);
  }

  .form-field input::placeholder {
	font-size: 18px;
	font-family: "Nunito Regular";
	color: rgb(180, 180, 180)
  }

  .validation-message {
	position: absolute;
    bottom: -20px; /* Adjust this value to control the vertical spacing */
    left: 0;
    width: 100%;
    color: red;
    font-size: 14px;
	/* margin: 5px */
  }
  
  .form-button-group {
	display: flex;
	justify-content: center;
	margin-top: 10px;
  }

.form-add-new-contact .save-button{
	color: rgb(255, 247, 114);
	background-color: rgb(47, 77, 82);
	height: 42px;
	width: 120px;
	margin: 5px;
	border-radius: 30px;
	border: none;
	font-family: "Nunito Regular";
	font-size: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.form-add-new-contact .save-button:hover{
	color:  rgb(47, 77, 82);
	background-color: rgb(255, 247, 114);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
	border-style: solid; 
	border-color: rgb(47, 77, 82);
}

.form-add-new-contact .cancel-button{
	color: rgb(47, 77, 82);
	background-color: white;
	height: 42px;
	width: 120px;
	margin: 5px;
	border-radius: 30px;
	border-style: solid;
	border-color: rgb(47, 77, 82);
	font-family: "Nunito Regular";
	font-size: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.form-add-new-contact .cancel-button:hover{
	color:  white;
	border-color: none;
	background-color: rgb(180, 180, 180);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}


  .new-button{
	background-color: rgb(47,77,82);
	border: none;
	padding-top: 1px;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(255, 247, 114);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 38px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	margin-right: 53px;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .new-button:hover{
	color:  rgb(47,77,82);
	background-color: white;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }


  .edit-button{
	background-color: rgb(92, 214, 194);
	border: none;
	padding-left: 13px;
	padding-right: 13px;
	color: rgb(47,77,82);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 37px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .edit-button:hover{
	color:  rgb(47,77,82);
	background-color: rgb(255, 247, 114);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }

  .delete-button{
	background-color: rgb(92, 214, 194);
	border: none;
	padding-left: 15px;
	padding-right: 15px;
	color: rgb(47,77,82);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 38px;
	font-family: "Nunito Bold";
	border-radius: 50%;
	margin-left: 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
  }

  .delete-button:hover{
	color:  white;
	background-color: rgb(240, 86, 72);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
  }

  
  .bar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(92, 214, 194);
	border-radius: 30px;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
	z-index: 2; /* Updated z-index value */
  }

  .bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }

.search-bar{
	background-color:rgb(255, 255, 255);
	font-family: "Nunito Regular";
	margin-left:275px;
	margin-right: 10px;
	font-size: 24px;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 8px;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
	caret-color: rgb(47, 77, 82);
}

.search-input {
	color: rgb(47, 77, 82);
	caret-color: rgb(47, 77, 82);
	outline: none;
	font-size: 24px;
	border: none;
	width: 250px;
}

.search-icon {
	color: rgb(203, 210, 212); 
    margin-right: 8px; /* Add some margin to separate the icon from the input */
    font-size: 24px; /* Adjust the size of the FontAwesome icon */
}

.search-input::placeholder{
	color: rgb(203, 210, 212); 
}

.container {
	top: 284px;
	left: 0;
	width: 100%;
	z-index: 999;
	overflow-y: auto;
	background-color: transparent;
  }
  
  /* .content {
	position: relative;
	z-index: 1;
	text-align: center;
	margin-bottom: 0;
  	} */
  
  .dimmed-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 998;
  }

  .contact-icons {
	display: flex;
	align-items: left;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: rgba(47, 77, 82, 0.99);
	position: sticky;
	top: 0;
	z-index: 1;
  }
  
  .person-icon{
	margin-left: 5px;
	font-size: 28px;
	margin-right: 227px;
	color: rgb(92, 214, 194);
  }

  .phone-icon{
	margin-left: 5px;
	font-size: 28px;
	margin-right: 76px;
	color: rgb(92, 214, 194);
  }

  .mail-icon{
	padding-top: 0px;
	font-size: 31px;
	margin-left: 5px;
	color: rgb(92, 214, 194);
  }

  .icon-text {
	display: flex;
  	align-items: flex-end;
	margin-left: 15px;
	font-family: "Nunito Bold";
	font-size: 20px;
	text-align: center;
	color: white;
  }

  .contacts-flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	z-index: 1;
  }

  .contacts-list {
	list-style-type: none;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	width: 1000px;
	background-color: rgb(47,77,82);
	/* border-radius: 30px; */
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
	position: relative; /* Added position */
  	z-index: 2; /* Added z-index value */
	height: 65vh; /* Adjust the value as per your requirements */
	overflow-y: scroll;
	scrollbar-width: thin; /* Set the width of the scrollbar */
  }


  
.contacts-list::-webkit-scrollbar {
	width: 20px; /* Set the width of the scrollbar */
	margin-top: 300px;
}

.contacts-list::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.7); /* Set the color of the scrollbar thumb */
	border-radius: 30px; /* Set the border radius of the scrollbar thumb */
}

.contacts-list::-webkit-scrollbar-track {
	background-color: rgb(92, 214, 194); /* Set the background color of the scrollbar track */
	margin-top: 5px;
	margin-bottom: 30px;
	border-radius: 30px;
}
  
  .contact-item {
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	color: white;
	font-size: 32px;
	background-color: rgb(47, 77, 82);
	border-color: rgb(92, 214, 194);
	border-style: solid;
	border-radius: 30px;
	border-width: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	flex-wrap: wrap; /* Added flex-wrap property */
  }
  
  .contact-item .button-group {
	display: flex;
	align-items: center;
	margin-left: auto;
  }

  .contact-name {
	font-family: "Nunito Regular";
	flex-basis: 330px;
	font-size: 28px; /* Adjust the font size as desired */
	flex-wrap: wrap; /* Added flex-wrap property */
  }
  
  .contact-number{
	font-family: "Nunito Regular";
	flex-basis: 200px;
	font-size: 21px; /* Adjust the font size as desired */
	text-align: left;
	flex-wrap: wrap; /* Added flex-wrap property */
	color: white; /* Change this to your desired link color */
    text-decoration: none;
  }
  .contact-email{
	font-family: "Nunito Regular";
	flex-basis: 200px;
	font-size: 20px; /* Adjust the font size as desired */
	text-align: left;
	flex-wrap: wrap; /* Added flex-wrap property */
	color: white; /* Change this to your desired link color */
    text-decoration: none;
  }

  .contacts-list a.link-style {
    color: white;
    text-decoration: none;
}

.contacts-list a.link-style:hover {
    color: white;
    text-decoration: underline;
}

  .contact-not-found {
	text-align: center;
	padding: 10px;
	font-family: "Nunito Regular";
	color: white;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
  }